@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
$blue: #3040C4;
$pink: #F9D9EB;
$red: #F36B7F;
$green: #82B5A5;
$cream: #FCF0E3;
$black: #302E31;

$primary: $blue;
$is-primary: $blue;
$has-text-primary: $blue;
$grey-lightest: #ddd;
$yellow: #ffc400;
// $green: hsl(171, 100%, 41%);
$orange: #ff8d01;
$info: hsl(171, 100%, 41%);

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

#root,
.App,
body,
html {
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.App{
  position: relative;
}

body {
  font-size: 18px
}

.navbar-brand {
  h1 {
    font-weight: 900;
  }
}

.auth-section,
.landing-page,
.admin-panel {
  .container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }
}

.admin-panel{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
}

.auth-section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('/bg.png');
  background-size: cover;
  
  .container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto
  }
}
.form-container {
  border: 1px solid $grey-light;
  padding: 2rem 3rem;
  border-radius: 4px;
  background: white;
  margin: 0 3rem;
  border-color: rgba(60,90,195, 0.2);

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 400px;
  
  h3{
    font-weight: 100;
  }

  .button {
    margin-top: 16px
  }
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.project-card {
  width: 45%;
  min-width: 10rem;
  min-height: 10rem;
  border: 1px solid $grey-light;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem;
  border-color: rgba(60,90,195, 0.2);


  .title{
    margin-bottom: 1rem
  }

  .button {
    margin-right: 0.5rem;
  }
}

.project-presets-list{
  margin: 2rem 0;
  li{
    margin-bottom: 1em 
  }
}


.navbar{
  .profile-picture{
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }
}


.color-palette, .type-set {
  margin: 3rem 0 4rem; 

  .box{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin-bottom: 0.5rem;    

    span{
      text-transform: capitalize;
    }
  }

  .is-grouped a:first-child{
    margin-right: 0.5rem;
  }
}

.circle-color{
  border: 1px solid $grey-light;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 56px;
  width: 56px
}  

.preview-text{
  margin: 1.5rem 0;
 p{ hyphens: auto;}
}


.fonts-buttons{
  display: flex;
  flex-wrap: wrap;

  .control {
    margin-right: 1rem;
    margin-bottom: 0.5rem
  }
}

.assets-list{
  margin-top: 2rem;
  figure{
    border: 1px solid $grey-light;
  }
}

.side-menu{
  width: 28%;
  background-color: $white;
  border-right: 1px solid $grey-lightest;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  padding-right: 4rem;
  padding-top: 1rem;
  box-shadow: 0 0 4px $grey-lightest;
  transition: left ease-in-out 0.3s;

  .navbar-item{
    padding: 0;
    margin-bottom: 4rem
  }

  .side-menu-header{
    margin-bottom: 2rem;
  }

  .btn-side-menu {
    color: $green;
    position: absolute;
    right: 2%;
    top: 50%;
  }

  &.show{
    left: 0;
  }

  &.hide{
    left: -23% ;
  }
}

.main-content{
  margin-top: 3.5rem;
  height: 100%;
  transition: margin-left ease-in-out 0.3s;

  &.show{
    margin-left: 28%
  }
  &.hide{
    margin-left: 5%;
  }
}

.remove-btn{
  background: transparent;
  border: 0;
  outline: 0;
  cursor:pointer;
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 4rem;
  top: 0;
  display: flex;
}

.navbar-brand{
  width: 28%;
  text-align: center;
  padding: 0 4rem;
}

.navbar-menu{
  display: inline-flex;
}

.back-projects-link{
  img{
    margin-right: 0.5rem;
  }
}

.back-link{
  margin-bottom: 2rem;
}

.title{
  letter-spacing: -1px;
}

.type-set {
  .element{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rows-container{
  .columns{
    position: relative;
    .close{
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: opacity ease-in-out 0.3s;
    }
  
    &:hover{
      .close{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .column{
    border: 1px solid $grey-lightest;
    margin: -1;
    border-radius: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.row{
      position: relative;
      padding: 0;
    }
  }

  .layout-btn-container{
    width: 100%;
    padding: 4rem 0 5rem;

    .header {
      margin-bottom: 3rem;
    }    

    .inner{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;


    .layout-btn{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    }
  }
}

.row{
 .color-container{
   width: 100%;
   display: flex;

  .color{
    position: relative;
    min-height: 240px;
    border: 1px solid rgba(200,200,200,.1);

    .color-swatch{
      position: absolute;
      height: 100%;
      padding: 24px;
    }
    .color-name{
      margin-top: 16px;
      margin-left: 36px;
      color: rgba(230,230,230,1);
      opacity: 0.8;
      font-weight: 600;
      // opacity: 0;
      transition: opacity ease-in-out 0.3s;
      text-transform: uppercase;
    }  
        // &:hover .color-name{
        //   opacity: 1;
        // }
  }
 }
}


.vertical-text {
	transform: rotate(90deg);
  transform-origin: left top 0;
  float: left;
}

.title{
  color: $is-primary;
  font-family: 'Merriweather';
  letter-spacing: 0.005em;
  line-height: 1.2;
}     

p{ margin-bottom: 32px;}


// Landing
.landing-page{
  width: 100vw;

  .hero {
    background-image: url('/bg.png');
    background-size: cover;
    min-height: 92vh;

    .img{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 120px;
    }

    p{ margin-bottom: 32px;}
  
    .is-grouped{
      .button:first-child{
        margin-right: 16px
      }
    }
  }

  .blocks {
    height: 100%;
    border: 1px solid $grey-lightest;

    overflow: hidden;

    .block{
      min-height: 92vh;
      .text {
        padding: 8em 5em;
        .title {
          line-height: 1.5;
        }
      }

      .img{
        display: flex;
        align-items: center;
        justify-content: center;
      } 

      &.block-1 {
        .text{
          background-color: $blue;
          background-image: url('/blue-buble.png');
          background-size: cover;
      
          color: white;
  
          .title {color:white}
        }

        .img{
          background-color: $pink;
        } 
      }

      &.block-2 {
        .text{
          background-color: $red;
          background-image: url('/red-buble.png');
          background-size: cover;
          color: $black;
  
          .title {color:$black}
        }

        .img{
          background-color: $cream;
        } 
      }

      &.block-3 {
        .text{
          background-color: $green;
          background-image: url('/green-buble.png');
          background-size: cover;
          color: $black;
  
          .title {color:$black}
        }
      }
    }
  }

  .features {
    height: 100%;
    min-height: 70vh;
    background-image: url('/bg-features.png');
    background-size: cover;

    display:flex;
    align-items: center;
    justify-content: center;

    padding: 6em 0 3em; 

    .title {
      margin-bottom: 2em;
    }

    .features-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 -3em;

      .feature{
        width: 33%;
        margin-bottom: 3em;
        padding: 0 3em;

        .title {
          font-family: 'Open Sans', Helvetica, Arial, sans-serif;
        }
      }
    }
  }

  .banner {
    padding-bottom: 4em;

    .banner-content {
      background-image: url('/banner-bg.png');
      background-size: cover;
      background-color: $blue;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3em 0;

      .title, p{ color: white;}

      img, p{margin-bottom: 2em;}
    }
  }
}

.landing-page-footer {
  border-top: 1px solid lightgray;
  padding: 1em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  img{
    height: 18px;
  }
  .small {
    font-size: 0.85em;
    margin: 0;
  }
}

.new-project-main{
  height: 100vh;

  .section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
      max-height: 500px;
    } 
  }
}

.new-project-section{
  input[type="submit"]{
    margin-top: 16px;
  }
}

.side-menu-header .title {
  color: $is-primary;
  font-family: 'Merriweather';
  letter-spacing: 0.005em;
  line-height: 1.2;
  
}

.row{
  .content-container{
    padding: 5rem 3rem;
  
    .notification{
      margin: 0 auto;
      text-align: center;
  
      a{color: $blue !important; text-decoration: none !important}
    }
  }

  .color-container{
    padding: 1rem;
    height: 100%;
  }

  .typeset-container {
    padding: 3rem;

    .is-size-3{
      margin-bottom: 32px;
    }
  }
}

.content-container.textedit-container{
  height: 200px;
  width: 100%;
  min-width: 460px;
  padding: 1.5rem 3rem;

  .dante-menu.dante-menu--active{
    z-index: 9999999;
  }
}