@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800&display=swap');
// // Set your brand colors
// $purple: #8a4d76;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;
$blue: #3c5ac3;

// // Update Bulma's global variables
// $family-sans-serif: 'Nunito', sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
$primary: $blue;
$is-primary: $blue;
$has-text-primary: $blue;
$grey-lightest: #ddd;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";

#root,
.App,
body,
html {
  height: 100%;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.App{
  position: relative;
}

body {
  font-size: 18px
}

.navbar-brand {
  h1 {
    font-weight: 900;
  }
}

.auth-section{
  min-height: 90vh;
  display: flex;
  align-items: center;
  
  .container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto
  }
}
.form-container {
  border: 1px solid $grey-light;
  padding: 2rem 3rem;
  border-radius: 4px;
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.project-card {
  width: 45%;
  min-width: 10rem;
  min-height: 10rem;
  border: 1px solid $grey-light;
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem;

  .title{
    margin-bottom: 1rem
  }

  .button {
    margin-right: 0.5rem;
  }
}

.project-presets-list{
  margin: 2rem 0;
  li{
    margin-bottom: 1em 
  }
}


.navbar{
  .profile-picture{
    width: 28px;
    height: 28px;
    margin-right: 12px;
  }
}


.color-palette, .type-set {
  margin: 3rem 0 4rem; 

  .box{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    margin-bottom: 0.5rem;    

    span{
      text-transform: capitalize;
    }
  }

  .is-grouped a:first-child{
    margin-right: 0.5rem;
  }
}

.circle-color{
  border: 1px solid $grey-light;
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 56px;
  width: 56px
}  

.preview-text{
  margin: 1.5rem 0;
 p{ hyphens: auto;}
}


.fonts-buttons{
  display: flex;
  flex-wrap: wrap;

  .control {
    margin-right: 1rem;
    margin-bottom: 0.5rem
  }
}

.assets-list{
  margin-top: 2rem;
  figure{
    border: 1px solid $grey-light;
  }
}

.side-menu{
  width: 28%;
  background-color: $white;
  border-right: 1px solid $grey-lightest;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  padding-right: 4rem;
  padding-top: 1rem;
  box-shadow: 0 0 4px $grey-lightest;
  transition: left ease-in-out 0.3s;

  .navbar-item{
    padding: 0;
    margin-bottom: 4rem
  }

  .side-menu-header{
    margin-bottom: 2rem;
  }

  .btn-side-menu {
    color: black;
    position: absolute;
    right: 5%;
    top: 50%;
  }

  &.show{
    left: 0;
  }

  &.hide{
    left: -23% ;
  }
}

.main-content{
  margin-top: 3.5rem;
  height: 100%;
  transition: margin-left ease-in-out 0.3s;

  &.show{
    margin-left: 28%
  }
  &.hide{
    margin-left: 5%;
  }
}

.remove-btn{
  background: transparent;
  border: 0;
  outline: 0;
  cursor:pointer;
}

.navbar {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid lightgray;
  margin-bottom: 4rem;
  top: 0
}

.navbar-brand{
  width: 28%;
  text-align: center;
  padding: 0 4rem;
}

.back-projects-link{
  img{
    margin-right: 0.5rem;
  }
}

.back-link{
  margin-bottom: 2rem;
}

.title{
  letter-spacing: -1px;
}

.type-set {
  .element{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rows-container{
  .columns{
    position: relative;
    .close{
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: opacity ease-in-out 0.3s;
    }
  
    &:hover{
      .close{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .column{
    border: 1px solid $grey-lightest;
    margin: -1;
    border-radius: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.row{
      padding: 4rem;
      position: relative;
    }
  }

  .layout-btn-container{
    width: 100%;

    .header {
      margin-bottom: 2rem;
    }    

    .inner{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;


    .layout-btn{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    }
  }
}