@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");

:root {
  --blue: #3040c4;
  --white: #ffffff;
  --pink: #f9d9eb;
  --red: #f36b7f;
  --green: #82b5a5;
  --cream: #fcf0e3;
  --black: #302e31;
  --grey-light: #bbb;
  --grey-lightest: #ddd;
  --yellow: #ffc400;
  --orange: #ff8d01;
  --info: hsl(171, 100%, 41%);
}

@import "./bulma.sass";

#root,
.App,
body,
html {
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  nav ul {
    list-style-type: none;
    display: flex;
    li {
      padding-right: 1rem;

      &:last-child {
        padding: 0;
      }
    }
  }
}

.btn {
  border: 1px solid var(--blue);
  color: var(--blue);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: all 0.3s;

  &:visited {
    color: var(--blue);
  }
  &:hover {
    background-color: var(--blue);
    color: var(--white);
  }
}

.projects-link {
  color: var(--blue);
  img {
    width: 20px;
    margin-right: 8px;
  }
}

.auth-section,
.landing-page,
.admin-panel {
  .container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
  }
}

.admin-panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/bg.png");
  background-size: cover;
}

.auth-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../images/bg.png");
  background-size: cover;

  .container {
    height: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0 auto;
  }
}
.form-container {
  border: 1px solid var(--grey-light);
  padding: 2rem 3rem;
  border-radius: 4px;
  background: white;
  margin: 0 3rem;
  border-color: rgba(60, 90, 195, 0.2);

  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-height: 400px;

  h3 {
    font-weight: 100;
  }

  .button {
    margin-top: 16px;
  }
}

.profile-picture {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 45%;
  min-width: 10rem;
  min-height: 10rem;
  border: 1px solid var(--grey-light);
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem;
  border-color: rgba(60, 90, 195, 0.2);

  .title {
    margin-bottom: 1rem;
  }

  .button {
    margin-right: 0.5rem;
  }
}

.project-presets-list {
  margin: 2rem 0;
  li {
    margin-bottom: 1em;
  }
}

.color-palette,
.type-set {
  margin: 3rem 0 4rem;

  .box {
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    span {
      text-transform: capitalize;
    }
  }

  .is-grouped a:first-child {
    margin-right: 0.5rem;
  }
}

.circle-color {
  border: 1px solid var(--grey-light);
  border-radius: 50%;
  margin-right: 0.5rem;
  height: 56px;
  width: 56px;
}

.preview-text {
  margin: 1.5rem 0;
  p {
    hyphens: auto;
  }
}

.fonts-buttons {
  display: flex;
  flex-wrap: wrap;

  .control {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}

.assets-list {
  margin-top: 2rem;
  figure {
    border: 1px solid var(--grey-light);
  }
}

.side-menu {
  width: 28%;
  background-color: var(--white);
  border-right: 1px solid var(--grey-lightest);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 9999;
  overflow: auto;
  padding-right: 4rem;
  padding-top: 1rem;
  box-shadow: 0 0 4px var(--grey-lightest);
  transition: left ease-in-out 0.3s;

  .side-menu-header {
    margin-bottom: 2rem;
  }

  .btn-side-menu {
    color: var(--green);
    position: absolute;
    right: 2%;
    top: 50%;
  }

  &.show {
    left: 0;
  }

  &.hide {
    left: -23%;
  }
}

.main-content {
  margin-top: 3.5rem;
  height: 100%;
  transition: margin-left ease-in-out 0.3s;

  &.show {
    margin-left: 28%;
  }
  &.hide {
    margin-left: 5%;
  }
}

.remove-btn {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.back-projects-link {
  img {
    margin-right: 0.5rem;
  }
}

.back-link {
  margin-bottom: 2rem;
}

.title {
  letter-spacing: -1px;
}

.type-set {
  .element {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.rows-container {
  .columns {
    position: relative;
    .close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: opacity ease-in-out 0.3s;
    }

    &:hover {
      .close {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .column {
    border: 1px solid var(--grey-lightest);
    margin: -1;
    border-radius: 0px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &.row {
      position: relative;
      padding: 0;

      &.is-two-thirds-first {
        max-width: 33.3333333%;

        &:first-of-type() {
          max-width: 66.6666666%;
        }
      }

      &.is-two-thirds-last {
        max-width: 66.666666%;

        &:first-of-type() {
          max-width: 33.333333%;
        }
      }
    }
  }

  .layout-btn-container {
    width: 100%;
    padding: 4rem 0 5rem;

    .header {
      margin-bottom: 3rem;
    }

    .inner {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .layout-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.row {
  .color-container {
    width: 100%;
    display: flex;

    .color {
      position: relative;
      min-height: 240px;
      border: 1px solid rgba(200, 200, 200, 0.1);

      .color-swatch {
        position: absolute;
        height: 100%;
        padding: 24px;
      }
      .color-name {
        margin-top: 16px;
        margin-left: 36px;
        color: rgba(230, 230, 230, 1);
        opacity: 0.8;
        font-weight: 600;
        // opacity: 0;
        transition: opacity ease-in-out 0.3s;
        text-transform: uppercase;
      }
      // &:hover .color-name{
      //   opacity: 1;
      // }
    }
  }
}

.vertical-text {
  transform: rotate(90deg);
  transform-origin: left top 0;
  float: left;
}

.title {
  color: var(--blue);
  font-family: "Merriweather";
  letter-spacing: 0.005em;
  line-height: 1.2;
}

p {
  margin-bottom: 32px;
}

// Landing
.landing-page {
  width: 100vw;

  .hero {
    background-image: url("../images/bg.png");
    background-size: cover;
    min-height: 92vh;

    .img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 120px;
    }

    p {
      margin-bottom: 32px;
    }

    .is-grouped {
      .button:first-child {
        margin-right: 16px;
      }
    }
  }

  .blocks {
    height: 100%;
    border: 1px solid var(--grey-lightest);

    overflow: hidden;

    .block {
      min-height: 92vh;
      .text {
        padding: 8em 5em;
        .title {
          line-height: 1.5;
        }
      }

      .img {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &.block-1 {
        .text {
          background-color: var(--blue);
          background-image: url("/images/blue-buble.png");
          background-size: cover;

          color: white;

          .title {
            color: white;
          }
        }

        .img {
          background-color: var(--pink);
        }
      }

      &.block-2 {
        .text {
          background-color: var(--red);
          background-image: url("/images/red-buble.png");
          background-size: cover;
          color: var(--black);

          .title {
            color: var(--black);
          }
        }

        .img {
          background-color: var(--cream);
        }
      }

      &.block-3 {
        .text {
          background-color: var(--green);
          background-image: url("/images/green-buble.png");
          background-size: cover;
          color: var(--black);

          .title {
            color: var(--black);
          }
        }
      }
    }
  }

  .features {
    height: 100%;
    min-height: 70vh;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 6em 0 3em;

    .title {
      margin-bottom: 2em;
    }

    .features-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 -3em;

      .feature {
        width: 33%;
        margin-bottom: 3em;
        padding: 0 3em;

        .title {
          font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }
      }
    }
  }

  .banner {
    padding-bottom: 4em;

    .banner-content {
      background-image: url("/images/banner-bg.png");
      background-size: cover;
      background-color: var(--blue);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 3em 0;

      .title,
      p {
        color: white;
      }

      img,
      p {
        margin-bottom: 2em;
      }
    }
  }
}

.landing-page-footer {
  border-top: 1px solid lightgray;
  padding: 1em;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  img {
    height: 18px;
  }
  .small {
    font-size: 0.85em;
    margin: 0;
  }
}

.new-project-main {
  height: 100vh;

  .section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 500px;
    }
  }
}

.new-project-section {
  input[type="submit"] {
    margin-top: 16px;
  }
}

.side-menu-header .title {
  color: var(--blue);
  font-family: "Merriweather";
  letter-spacing: 0.005em;
  line-height: 1.2;
}

.row {
  .content-container {
    padding: 5rem 3rem;

    .notification {
      margin: 0 auto;
      text-align: center;

      a {
        color: var(--blue) !important;
        text-decoration: none !important;
      }
    }
  }

  .assets-container.has-image {
    // padding: 0;
  }

  .color-container {
    padding: 1rem;
    height: 100%;
  }

  .typeset-container {
    padding: 3rem;

    .is-size-3 {
      margin-bottom: 32px;
    }
  }
}

.content-container.textedit-container {
  height: 200px;
  width: 100%;
  min-width: 460px;
  padding: 1.5rem 3rem;

  .dante-menu.dante-menu--active {
    z-index: 9999999;
  }
}

.text-editor {
  width: 500px;
  margin: 50px auto;
}

.draft-editor-wrapper {
  border: 1px solid #ccc;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 99999;
  background-color: rgba(60, 90, 195, 0.2) !important;
}

.close-modal {
  position: absolute;
  top: 6%;
  right: 3%;
  padding: 1em;
}

.parallax {
  /* The image used */

  /* Set a specific height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax.bg-image {
  background-image: url("/images/bg-features.png");
}
